<header>
    <section id="Top">
        <strong>Azer Jalahej</strong>
        <nav id="topNavBar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="articles.html">Articles</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </section>
    <section id="bigTitle">
        <h1>Fullstack Developer</h1>
        <small>Building clean, modern, and scalable web solutions</small>
    </section>
</header>