<header>
    <section id="Top">
        <strong>Azer Jalahej</strong>
        <nav id="topNavBar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects/">Projects</a></li>
                <li><a href="/articles/">Articles</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </nav>
    </section>
    <section id="bigTitle">
        <h1>Fullstack Developer</h1>
        <small>Building clean, modern, and scalable web solutions</small>
    </section>
</header>