<%- include('partials/header') %>
<title>Personal Website</title>
</head>
<body>
    <header>
        <section id="Top">
            <strong>Azer Jalahej</strong>
            <nav id="topNavBar">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="articles.html">Articles</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </section>
        <section id="bigTitle">
            <h1>Fullstack Developer</h1>
            <small>Building clean, modern, and scalable web solutions</small>
        </section>
    </header>

    <main>

        <section id="projects">
            <h2>Projects</h2>
            <nav>
                <ul>
                    <li><a href="https://github.com/azerjlhj/Password-Generator">Password Generator</a></li>
                    <li><a href="https://github.com/azerjlhj/Datepicker-UI">Datepicker UI</a></li>
                    <li><a href="https://github.com/azerjlhj/BMI-Calculator">BMI Calculator</a></li>
                    <li><a href="https://github.com/azerjlhj/calculator-app">Calculator App</a></li>
                    <li><a href="https://github.com/azerjlhj/Restricted-Textarea">Restricted Textarea</a></li>
                </ul>
            </nav>
        </section>

        <section id="education">
            <h2>Education</h2>

            <section id="broadCollegeBackground">
                <p><strong>William Paterson University</strong></p>
                <p>B.S. Computer Science - Expected to graduate  May 2026</p>
                <p>GPA: 3.61, Honors College</p>
                <br>
            </section>

            <section id="courses">
                <p>Courses I took:</p>

                <ul>
                    <li>Computing with C++ Part 1</li>
                    <li>Computing with C++ Part 2</li>
                    <li>Discrete Structures</li>
                    <li>Data Structures</li>
                    <li>Digital Logic and Computer Organization</li>
                    <li>Programming Languages</li>
                    <li>Database-Driven Web Applications</li>
                </ul>
            </section>
        </section>
<%- include('partials/footer') %>
