<%- include('partials/header') %>
<title>Personal Website - Projects</title>
</head>
<body>

    <header>
        <section id="Top">
            <strong>Azer Jalahej</strong>
            <nav id="topNavBar">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="articles.html">Articles</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </section>
        <section id="bigTitle">
            <h1>Fullstack Developer</h1>
            <small>Building clean, modern, and scalable web solutions</small>
        </section>
    </header>

    <main>

        <section>

            <h2>Projects</h2>
            <a href="https://github.com/azerjlhj/Password-Generator">Password Generator</a>
            <a href="https://github.com/azerjlhj/Datepicker-UI">Datepicker UI</a>
            <a href="https://github.com/azerjlhj/BMI-Calculator">BMI Calculator</a>
            <a href="https://github.com/azerjlhj/calculator-app">Calculator App</a>
            <a href="https://github.com/azerjlhj/Restricted-Textarea">Restricted Textarea</a>

        </section>


<%- include('partials/footer') %>