<%- include('partials/head') %>
<title>Personal Website - Projects</title>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <section>
            <h2>Projects</h2>
            <a href="https://github.com/azerjlhj/Password-Generator">Password Generator</a>
            <a href="https://github.com/azerjlhj/Datepicker-UI">Datepicker UI</a>
            <a href="https://github.com/azerjlhj/BMI-Calculator">BMI Calculator</a>
            <a href="https://github.com/azerjlhj/calculator-app">Calculator App</a>
            <a href="https://github.com/azerjlhj/Restricted-Textarea">Restricted Textarea</a>
        </section>
<%- include('partials/footer') %>