body {
    font-family: 'Open Sans', sans-serif;
}
header {
    padding: 1.25em 1.5em;
    border-bottom: 2px solid black;
    margin-bottom: .25rem;
}
header strong {
    font-size: 1.5rem;
}

#Top {
    display: flex;
    justify-content: space-between;
}

#bigTitle {
    display: flex;
    flex-direction: column;
    margin-bottom: 8rem;
}

#bigTitle > * {
    text-align: center;
}

#bigTitle small {
    font-size: 1.5rem
}

#bigTitle h1 {
    font-size: 6em;
    margin-bottom: .3em;
    font-family: "Edu NSW ACT Cursive", cursive;
}

nav > ul {
    list-style-type: none;
    /* Removes default padding applied by browsers */
    padding: 0;           
    margin: 0;
}

nav > ul > li {
    font-size: 1.25em;
    margin: 0;
    padding: 0;
}

#topNavBar > ul {
    display: flex;
    justify-self: end;
    gap: 12px;
}

a:link { /* Unvisited link */
  color: black;
  text-decoration: none;
}

a:visited { 
  color: black;
  text-decoration: none;
}

a:hover { /* Link when the user mouses over it */
  color: blue;
  text-decoration: underline;
}

main {
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid black;
}

main h2 {
    font-family: "Edu NSW ACT Cursive", cursive;
}

main > section {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

footer {
    font-family: "Edu NSW ACT Cursive", cursive;
    text-align: center;
    font-size: 1.25rem;
    padding-top: 7rem;
    padding-bottom: 12rem;
}

@media (max-width: 1199.98px) {
    #bigTitle {
        margin-bottom: 6rem;
    }

    #bigTitle h1 {
        font-size: 5rem;
    }

    footer {
        padding-top: 6rem;
        padding-bottom: 10rem;
    }
}

@media (max-width: 991.98px) {
    #bigTitle {
        margin-bottom: 4rem;
    }
    #bigTitle h1 {
        font-size: 4rem;
    }

    footer {
        padding-top: 5rem;
        padding-bottom: 8rem;
    }
}

@media (max-width: 767.98px) {
    #Top {
        flex-direction: column;
        align-items: center;
    }

    #bigTitle {
        margin-bottom: 2.5rem;
    }

    #bigTitle h1 {
        font-size: 3rem;
    }

    main {
        flex-direction: column;
        align-items: baseline;
        justify-content: space-around;
        gap: 3rem;
    }

    footer {
        padding-top: 4rem;
        padding-bottom: 5rem;
    }
}

@media (max-width: 575.98px) {
    #bigTitle {
        margin-bottom: 1rem;
    }
    #bigTitle h1 {
        font-size: 2rem;
    }
    #bigTitle small {
        font-size: 1.25rem
    }
    footer {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}